<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Art Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Create Pixel Art</h1>

    <!-- Canvas where users will draw -->
    <canvas id="pixelCanvas" width="320" height="320"></canvas>

       <div id="colorPickerContainer">
        <label for="colorPicker">Choose Color:</label>
        <input type="color" id="colorPicker" value="#000000">
    </div>

    <div>
        <button onclick="clearCanvas()">Clear Canvas</button>
        <button onclick="saveArt()">Save Art</button>
        <a href="{{ url_for('gallery') }}"><button>View Gallery</button></a>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
